#root {
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.counter-container,.timer-container{
  display: flex;
  padding:2rem;
  border-radius: .8em;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.025);
}


